.vagrant
Berksfile.lock
*~
*#
.#*
\#*#
.*.sw[a-z]
*.un~

# Bundler
Gemfile.lock
bin/*
.bundle/*

.kitchen/
.kitchen.local.yml
.env
tmp
*.rpm
./after_install.sh
./after_remove.sh
./after_upgrade.sh
./before_remove.sh
.env
*.rpm
./after_install.sh
./after_remove.sh
./after_upgrade.sh
./before_remove.sh
.vagrant
Berksfile.lock
*~
*#
.#*
\#*#
.*.sw[a-z]
*.un~

# Bundler
Gemfile.lock
bin/*
.bundle/*

.kitchen/
.kitchen.local.yml
/cookbooks
*.rpm
after_install.sh
after_remove.sh
